:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* login form Input start*/
.authContainer {
  width: 100%;
  height: 100vh;
  display: flex;
}
.auth-form {
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.auth-form h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.auth-form button.toggle-auth {
  background-color: #6c757d;
}

.auth-form button:hover {
  opacity: 0.9;
}

.error {
  color: red;
  font-size: 14px;
  text-align: center;
}
/* login form end */

/* Main Container */
.mainContainer {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  /* background: #000; */
  margin: 0 auto;
}

.topNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.topNav .title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
 
}

.topNav .user-info {
  font-size: 1.3rem;
  font-weight: 500;
  margin-right: 15px;
  color: #fff;
  text-transform: capitalize;
}

.topNav .logout {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: rgb(240, 79, 79);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.topNav .logout:hover {
  background-color: red;
}

.topNav .logout:active {
  background-color: #d4d4d4;
  transform: scale(0.95);
}

.container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  margin: 1rem 0;
}



/* Contact List Start*/
.contactListContainer {
  flex: 1;
  max-width: 30%;
  height: 100%;
  overflow-y: auto;
  margin: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;

  overflow-y:auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.contact-list-header {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 0;
  color: #fff;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 400px;
}

.contact-list-item {
  padding: 12px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-list-item:hover {
  background-color: rgb(224, 247, 250, 0.2);
  
}

.contact-list-item.selected {
  color: white;
  background-color: rgb(224, 247, 250, 0.2);
}

.contact-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background-color: #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: 1px solid white;
}

.contact-name {
  font-size: 1rem;
  flex-grow: 1;
  text-transform: capitalize;
}


@media (max-width: 480px) {
  .contact-list-item {
    font-size: 0.9rem;
    padding: 10px;
  }

  .contact-avatar {
    width: 30px;
    height: 30px;
    font-size: 0.8rem;
  }
}
/* contact list end */

/* chat window strat */

.chatWindowContainer {
  flex: 2;
  max-width: 70%;
  height: 100%;
  display: flex;
  margin: 1rem;
  padding: 0 1rem 1rem 1rem;
  border-radius: 10px;
  flex-direction: column;
  justify-content: end;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* background: rgb(174, 134, 24); */
}

.chat-window {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* background-color: #007bff; */
}

.chat-top {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: start;
  font-size: 2rem;
  font-weight: bold;
  padding: 12px 0;
  margin: 5px 0;
  color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #ddd;
}

.message-input-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  
}

.message-container {
  height: 100%;
  width: 100%;
  margin: 10% 0;

  overflow-y: auto;
  /* background: #000; */
}

.message {
  margin-top: 1rem;
}

/* Message container start */
.message-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-radius: 8px;
  overflow-y: auto;
  height: 60vh;
}

.message {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.message.sent {
  align-self: flex-end;
  background-color: #52a163;
  color: white;
}

.message.received {
  align-self: flex-start;
  background-color: #0153aa;
  color: white;
}

.message-content p {
  margin: 5px 0;
  font-weight: 400;
}

.message-content strong {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 3px;
  display: block;
}

.timestamp {
  font-size: 11px;
  color: #fff;
  margin-top: 5px;
  text-align: right;
  display: block;
}

.message:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.message-container {
  scrollbar-width: thin;
  scrollbar-color: #888;
}

.message-container::-webkit-scrollbar {
  width: 2px;
}

/* message input start */
.message-input {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  border-top: 1px solid #ddd;
  /* background-color: #f9f9f9; */
  width: 100%;
  gap: 1rem;
}

.message-input input {
  flex: 1;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  transition: all 0.3s ease;
}

.message-input button {
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  width: 100px;
  transition: all 0.3s ease;
}

.message-input button:hover {
  background-color: #0056b3;
}

.message-input button:active {
  transform: scale(0.95);
}
/* message end */

/* chat window end */


/* Responsive styling */
@media (max-width: 1024px) {
  .topNav .title {
    font-size: 20px;
  }

  .container {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
  }
  .contactListContainer{
    width: 100%;
    max-width: none;
  }
  .chatWindowContainer{
   width: 100%;
   max-width: none;
  }
  .message-container{
    height: 80vh;
    margin: 20% 0;
  }
}

@media (max-width: 768px) {
  .auth-form {
    width: 100%;
  }

  .topNav .user-info {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .topNav .title {
    font-size: 18px;
  }


  .message {
    font-size: 12px;
  }
}